<div class="row">
  <%= form_for(@case) do |f| %>
    <% if @case.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved:</h2>

        <ul>
        <% @case.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <h4 align="right">Название:</h4>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :title, :type => "text", :class => "form-control", :placeholder => "Название тестового сценария" %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-3">
          <h4 align="right">Приоритет:</h4>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :priority, :type => "text", :class => "form-control", :placeholder => "Укажите приоритет" %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-3">
          <h4 align="right">Планируемое время (мин):</h4>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :planned_duration, :type => "text", :class => "form-control", :placeholder => "Укажите планируемое время выполнения тестового сценария в минутах" %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h4 align="right">Тэги:</h4>
        </div>
        <div class="col-lg-9">
          <%= f.text_field :tags, :type => "text", :class => "form-control", :placeholder => "Укажите тэги для сценария, если они нужны" %>
        </div>
      </div>

      <div class="row" style="padding-bottom:5px">
        <div class="col-lg-3">
          <h4 align="right">Описание функциональности:</h4>
        </div>
        <div class="col-lg-9">
          <%= f.text_area :objective, :type => "text", :class => "form-control", :placeholder => "Описание тестируемой функциональности (например, ссылка на спецификацию)" %>
        </div>
      </div>
      
      <div class="row" style="padding-bottom:5px">
        <div class="col-lg-3">
          <h4 align="right">Тестовые данные:</h4>
        </div>
        <div class="col-lg-9">
          <%= f.text_area :test_data, :type => "text", :class => "form-control", :placeholder => "Например, аторизационные данные" %>
        </div>
      </div>
      
      <div class="row" style="padding-bottom:5px">
        <div class="col-lg-3">
          <h4 align="right">Предусловия:</h4>
        </div>
        <div class="col-lg-9">
          <%= f.text_area :preconditions, :type => "text", :class => "form-control", :placeholder => "Какие шаги нужно выполнить перед выполнением тестового сценария" %>
        </div>
      </div>
      
      <div class="row" style="padding-bottom:5px">
        <div class="col-lg-3">
          <h4 align="right">Комментарий:</h4>
        </div>
        <div class="col-lg-9">
          <%= f.text_area :comment, :type => "text", :class => "form-control", :placeholder => "Любая другая информация связанная с тестовым сценарием" %>
        </div>
      </div>

      <%= f.hidden_field :date, :value => DateTime.now %>
      
      <div class="row">
        <div class="col-lg-8">                    
        </div>      
        <div class="col-lg-2">          
          <%= link_to 'Назад', cases_path, :class => "btn btn-default col-lg-12" %>
        </div>      
        <div class="col-lg-2">
          <%= f.submit 'Создать сценарий', :class => "btn btn-success col-lg-12" %>
        </div>       
      </div>
    </div>
  <% end %>
</div>