<div class="row">

	<h4 id="notice"><%= notice %></h4>

    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <h4 align="right">Название:</h4>
        </div>
        <div class="col-lg-9">
          <h4><%= @case.title %></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h4 align="right">Тест-комплект:</h4>
        </div>
        <div class="col-lg-9">
          <h4><%= @case.suite.title %></h4>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-3">
          <h4 align="right">Приоритет:</h4>
        </div>
        <div class="col-lg-9">
          <h4><%= @case.priority %></h4>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-3">
          <h4 align="right">Планируемое время (мин):</h4>
        </div>
        <div class="col-lg-9">
          <h4><%= @case.planned_duration %></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h4 align="right">Тэги:</h4>
        </div>
        <div class="col-lg-9">
          <h4><%= @case.tags %></h4>
        </div>
      </div>

      <div class="row" style="padding-bottom:5px">
        <div class="col-lg-3">
          <h4 align="right">Описание функциональности:</h4>
        </div>
        <div class="col-lg-9">
          <h4><%= @case.objective %></h4>
        </div>
      </div>
      
      <div class="row" style="padding-bottom:5px">
        <div class="col-lg-3">
          <h4 align="right">Тестовые данные:</h4>
        </div>
        <div class="col-lg-9">
          <h4><%= @case.test_data %></h4>
        </div>
      </div>
      
      <div class="row" style="padding-bottom:5px">
        <div class="col-lg-3">
          <h4 align="right">Предусловия:</h4>
        </div>
        <div class="col-lg-9">
          <h4><%= @case.preconditions %></h4>
        </div>
      </div>
      
      <div class="row" style="padding-bottom:5px">
        <div class="col-lg-3">
          <h4 align="right">Комментарий:</h4>
        </div>
        <div class="col-lg-9">
          <h4><%= @case.comment %></h4>
        </div>
      </div>    
      
      <div class="row">
        <div class="col-lg-8">                    
        </div>      
        <div class="col-lg-2">          
          <%= link_to 'Назад', cases_path, :class => "btn btn-default col-lg-12" %>
        </div>      
        <div class="col-lg-2">
          <%= link_to 'Редактировать', edit_case_path(@case), :class => "btn btn-default col-lg-12" %>
        </div>       
      </div>
    </div>  
</div>