<!DOCTYPE html>
<html>
<head>
  <title>Snowball</title>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

	<%= render 'top_menu' %>

	<div id="main_container" class="container container-fluid">
		<%= yield %>
	</div>	
	
</body>
</html>
